	HI Welome !!, <% if current_user %> Aboard <% else %> Please sign in.<% end%>
	<%= render 'form' %>

  <br/>
	
	<div id='content'>
		Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...
		Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...Bla...
  </div>